@{
    ViewData["Title"] = "Home Page";
}

    <div>
        <p><input type="text" id="message-field" /> </p>
        <p><input class="btn btn-primary" id="send-btn" type="button" value="Send Message" > </p>
        <ul id="message-list"></ul>
    </div>
